Calperum/Data/EddyPro/2016/Calperum_2016_L1.nc
Calperum/Data/EddyPro/2016/Calperum_2016_L2.nc
Calperum/Data/EddyPro/2016/Calperum_2016_L2_FlagStats.xls
Calperum/Data/EddyPro/2016/Calperum_2016_L3.nc
Calperum/Data/EddyPro/2016/Calperum_2016_L3_FlagStats.xls
Calperum/Data/Portal/Calperum_ECOSTRESS.csv
Calperum/Data/Portal/Calperum_L3.nc
Calperum/Data/Portal/Calperum_L3_CPD_Barr.xls
Calperum/Data/Portal/Calperum_L3_CPD_McHugh.xls
Calperum/Data/Portal/Calperum_L3_Climatology.xls
Calperum/Data/Portal/Calperum_L3_MPT.xls
Calperum/Data/Portal/Calperum_L3_REddyProc.tsv
Calperum/Data/Portal/Calperum_L3_biomet.csv
Calperum/Data/Portal/Calperum_L4.nc
Calperum/Data/Portal/Calperum_L4_AlternateStats.xls
Calperum/Data/Portal/Calperum_L5.nc
Calperum/Data/Portal/Calperum_L6.nc
Calperum/Data/Portal/Calperum_L6_Annual.nc
Calperum/Data/Portal/Calperum_L6_Cumulative.nc
Calperum/Data/Portal/Calperum_L6_Daily.nc
Calperum/Data/Portal/Calperum_L6_L&T.xls
Calperum/Data/Portal/Calperum_L6_Monthly.nc
Calperum/Data/Portal/Calperum_L6_Summary.nc
Calperum/Data/Portal/Calperum_L6_Summary.xls
Calperum/Data/Tower/2016/Calperum_2016_FluxNet.csv
Calperum/Data/Tower/2016/Calperum_2016_L1.nc
Calperum/Data/Tower/2016/Calperum_2016_L2.nc
Calperum/Data/Tower/2016/Calperum_2016_L2_FlagStats.xls
Calperum/Data/Tower/2016/Calperum_2016_L3.nc
Calperum/Data/Tower/2016/Calperum_2016_L3_FlagStats.xls
Calperum/Plots/
Loxton/Data/Tower/Loxton_L1.nc
Loxton/Data/Tower/Loxton_L2.nc
Loxton/Data/Tower/Loxton_L2_FlagStats.xls
Loxton/Data/Tower/Loxton_L3.nc
Loxton/Data/Tower/Loxton_L3_CPD_Barr.xls
Loxton/Data/Tower/Loxton_L3_CPD_McHugh.xls
Loxton/Data/Tower/Loxton_L3_Climatology.xls
Loxton/Data/Tower/Loxton_L3_FlagStats.xls
Loxton/Data/Tower/Loxton_L3_MPT.xls
Loxton/Data/Tower/Loxton_L4.nc
Loxton/Data/Tower/Loxton_L4_AlternateStats.xls
Loxton/Data/Tower/Loxton_L5.nc
Loxton/Data/Tower/Loxton_L6.nc
Loxton/Data/Tower/Loxton_L6_Annual.nc
Loxton/Data/Tower/Loxton_L6_Cumulative.nc
Loxton/Data/Tower/Loxton_L6_Daily.nc
Loxton/Data/Tower/Loxton_L6_L&T.xls
Loxton/Data/Tower/Loxton_L6_Monthly.nc
Loxton/Data/Tower/Loxton_L6_Summary.nc
Loxton/Data/Tower/Loxton_L6_Summary.xls
Loxton/Plots/
